body {
    background-color: snow;
}

header {
  text-align: center;
  margin-bottom: 25px;
  padding: 25px 0;
  background: url('http://www.scrapgolduk.co.uk/uploads/image/sell-gold-coins-scrap-gold-uk.jpg') no-repeat;
  background-size: 50% ;

}

h2,p {
  color: green;
  padding: 0 0 25px;

}


h1 {
  color: white;
  text-shadow: 1px 1px 4px #000;
  margin-top: 0;
}

#error, #result {
  display: none;
}
